/* COLORS */
/* navy:#091944;
   peach: #f0705c;
   beige: #dfd2ca;
   dark beige: #baa8a4;
   dusty blue: #8ea6b0;
   green: #98b8ab;
   */

body {
  font-family: "futura-pt", Futura, sans-serif;
  font-style: normal;
  color: #091944;
  font-weight: 500;
  /*font-size: 20px;*/
}

p {
  font-size: 1.5em;
}

h2,
.jumbotron,
p {
  text-align: center;
}

.light {
  font-weight: 300;
}

.book {
  font-weight: 400;
}

.jumbotron {
  background-color: #8ea6b0;
}

.jumbotron h1,
.jumbotron h2 {
  color: white;
}

nav ul {
  background-color: #091944;
}

nav ul li a {
  font-size: 20px;
}

nav ul a {
  color: white;
}

nav ul a:hover {
  color: #f0705c;
}

.nav li a:hover {
  background-color: white;
}

.nav li .active {
  background-color: white;
}

.container {
  text-align: center;
}

a {
  color: #f0705c;
}

a:hover {
  color: #98b8ab;
  text-decoration: none;
}

h2 a {
  color: #091944;
}

#rsvp {
  display: block;
  text-align: center;
}

form input,
textarea {
  margin: 5px;
}

#email,
#firstName,
#lastName,
#message {
  display: block;
}

footer {
  background-color: #8ea6b0;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.header {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

#ceremony a,
#reception a {
  color: #091944;
}

#ceremony a:hover,
#reception a:hover {
  color: #f0705c;
}

.header a:hover {
  color: #8ea6b0;
}
