/* COLORS */
/* navy:#091944;
   peach: #f0705c;
   beige: #dfd2ca;
   dark beige: #baa8a4;
   dusty blue: #8ea6b0;
   green: #98b8ab;
   */

body {
  font-family: Futura, sans-serif;
  color: #091944;
}

h2,
.jumbotron,
p {
  text-align: center;
}

/*p {
  font-size: 1.5em;
}*/

.jumbotron {
  background-color: #8ea6b0;
}

.jumbotron h1,
.jumbotron p {
  color: white;
}

nav ul {
  background-color: #091944;
}

nav ul a {
  color: white;
}

nav ul a:hover {
  color: #f0705c;
}

.container {
  text-align: center;
}

a {
  color: #f0705c;
}

a:hover {
  color: #98b8ab;
  text-decoration: none;
}

h2 a {
  color: #091944;
}

#rsvp {
  display: block;
  text-align: center;
}

form input,
textarea {
  margin: 5px;
}

#email,
#firstName,
#lastName,
#message {
  display: block;
}

footer {
  background-color: #8ea6b0;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
